<!-- section1 -->
<div class="flex flex-wrap my-10 mx-4 gap-4 min-h-[200px]">
  <!-- left -->
    <div
        class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
            <div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
    </div>

  <!-- right -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
            <div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
    </div>
</div>

<!-- section2 -->
<div class="flex flex-wrap my-6 mx-4 gap-4 min-h-[200px]">
  <!-- left -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
        <div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
</div>
  <!-- right -->
     <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
        <div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
</div>
</div>

<!-- section 3 -->
<div class="flex flex-wrap my-6 mx-4 gap-4 min-h-[200px]">
  <!-- left -->
    <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
        <div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
</div>
  <!-- right -->
     <div class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
        <div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
</div> 

</div>
<br />
<!-- section 4 -->
<div class="flex flex-wrap my-6 mx-4 gap-4 min-h-[200px]">
  <div
    class="flex-1 min-w-[250px] p-4 shadow-lg rounded-lg bg-white border border-gray-200">
<div class="text-xl font-semibold mb-6 xl:ml-4">{{'dashboard.amount.title' | translate}}</div>
</div>
</div>
