<div class="max-w-6xl mx-auto bg-white rounded-lg shadow p-6 mt-10]">
    <h2 class="text-2xl font-bold mb-4">
    {{ mode === 'create' ? 'Add' : 'Edit' }}Stock
</h2>
    <form (ngSubmit)="onSubmit()" #stockForm="ngForm" class="p-fluid">

        <!-- Grid 2 columns: Name & Batch Code -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div class="flex flex-col">
                <label for="name" class="font-semibold mb-2">Name</label>
                <input id="name" type="text" pInputText [(ngModel)]="stock.name" name="name" required
                    placeholder="Enter product name" class="w-full" />
            </div>

            <div class="flex flex-col">
                <label for="code" class="font-semibold mb-2">Batch Code</label>
                <input id="code" type="text" pInputText [(ngModel)]="stock.code" name="code" required
                    placeholder="Enter batch code" class="w-full" />
            </div>
        </div>

        <!-- Grid 2 columns: Amount & Category -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
            <div class="flex flex-col">
                <label for="amount" class="font-semibold mb-2">Amount</label>
                <p-inputNumber  name="amount" inputId="amount" [min]="0" mode="decimal"
                    required class="w-full"></p-inputNumber>
            </div>
<div class="flex flex-col">
                <label for="price" class="font-semibold mb-2">Price</label>
                <p-inputNumber  name="price" inputId="price" mode="currency" currency="THB"
                    locale="th-TH" class="w-full"></p-inputNumber>
            </div>
        </div>

        <!-- Grid 2 columns: Price & Date -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
         

            <div class="flex flex-col">
                 <!-- Date -->
                <label for="date" class="font-semibold mb-2">Rceived Date</label>
                <p-calendar class="w-full"  [(ngModel)]="stock.date" name="date" dateFormat="yy-mm-dd" showIcon="true"
                    placeholder ="Select date" [style]="{width:'100%'}"></p-calendar>
            </div>
              <!-- Expire -->
        <div class="flex flex-col  ">
            <label for="expire" class="font-semibold mb-2">Expire Date</label>
            <p-calendar [(ngModel)]="stock.expire" name="expire" dateFormat="yy-mm-dd" showIcon="true"
                placeholder="Select expire date" [style]="{width:'100%'}"></p-calendar>
        </div>
        </div>
           <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
          <div class="flex flex-col">
                <label for="category" class="font-semibold mb-2">Category</label>
                <select id="category" [(ngModel)]="stock.category" name="category"
                    class="w-full px-3 py-2 border rounded-lg focus:ring-2 focus:ring-blue-400 focus:outline-none">
                    <option value="">-- Select Category --</option>
                    <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
                </select>
            </div>
           </div>
       

        <!-- Buttons -->
        <div class="flex justify-end gap-3 mt-6">
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary"
                (onClick)="onCancel()"></p-button>
            <p-button label="Save" icon="pi pi-check" styleClass="p-button-success" type="submit"></p-button>
        </div>

    </form>
</div>