<div class="max-w-6xl mx-auto bg-white rounded-lg shadow p-6 mt-10]">

    <h2 class="text-2xl font-bold mb-4">
        {{ mode === 'create' ? 'Add' : 'Edit' }}Category
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-9 gap-6">
        <div class="flex flex-col col-span-4">
            <label for="category-name" class="font-bold text-sm text-gray-700 mb-2">Category</label>
            <input id="category-name" type="text" pInputText [(ngModel)]="categoryItem.name" name="category" required
                placeholder="Enter product Category"
                class="px-4 py-2 rounded-lg border border-gray-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 transition duration-150 ease-in-out w-full shadow-sm" />
        </div>

        <div class="flex flex-col col-span-4">
            <label for="category-code" class="font-bold text-sm text-gray-700 mb-2">Code</label>
            <input id="category-code" type="text" pInputText [(ngModel)]="categoryItem.code" name="code" required
                placeholder="Enter Category Code"
                class="px-4 py-2 rounded-lg border border-gray-300 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 transition duration-150 ease-in-out w-full shadow-sm" />
        </div>

        <div class="flex flex-col col-span-1 md:col-span-1 items-center justify-end">
            <label for="category-status" class="font-bold text-sm text-gray-700 mb-2 whitespace-nowrap">Status</label>
            <div id="category-status" class="flex items-center h-10">
                <p-toggleswitch [(ngModel)]="checked" />
            </div>
        </div>
    </div>

    <div class="flex justify-end gap-3 mt-6">
        <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" (onClick)="onCancel()"></p-button>
        <p-button label="Save" icon="pi pi-check" styleClass="p-button-success" type="submit"></p-button>
    </div>