<div class="max-w-7xl mx-auto bg-white rounded-lg shadow-lg p-6 mt-10 relative z-10">
  <h2 class="text-2xl font-bold mb-4">
    {{ 'main.stock.stockdetail.stockdetailsearch.stockMainTitle' | translate }}
  </h2>

  <!-- 🔍 Filters -->
  <div class="flex items-center gap-2 mb-4">
    <!-- <input
      type="text"
      pInputText
      [placeholder]="'main.stock.stockdetail.stockdetailsearch.stockmainmanage.searchPlaceholder' | translate"
      (input)="onSearch()"
      class="px-4 py-2 rounded-lg border w-64"
    />

    <p-select [options]="categories" [(ngModel)]="filterCategory" (onChange)="filterByCategory()" [showClear]="true"
      placeholder="{{ 'main.stock.stockmain.stockmainsearch.filterByCategory' | translate }}"
      class="w-64 h-[42px] rounded-lg border"></p-select>

    <p-button
      (click)="onSearch()"
      class="px-4 py-2 font-semibold transition gap-2 ml-2"
    >
      <i class="pi pi-search"></i>
      {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.searchBtn' | translate }}
    </p-button> -->

    <div class="flex-grow"></div>

    <p-button
      (click)="openPage('create')"
      class="px-4 py-2 font-semibold transition"
    >
      <i class="pi pi-plus"></i>
      {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.addStockBtn' | translate }}
    </p-button>
  </div>

  <!-- 📋 Table -->
  <p-table
    [value]="items"
    showGridlines="true"
    [paginator]="true"
    [globalFilterFields]="['name', 'code', 'amount', 'price']"
    [rows]="5"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ 'common.no' | translate }}</th>
        <th pSortableColumn="name">
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.nameCol' | translate }}
          
        </th>
        <th pSortableColumn="code">
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.batchCodeCol' | translate }}
        
        </th>
         <th>
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.categoryCol' | translate }}
        </th>
        <th pSortableColumn="amount">
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.amountCol' | translate }}
          <p-sortIcon field="amount" />
        </th>
       
        <th pSortableColumn="price">
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.priceCol' | translate }}
          <p-sortIcon field="price" />
        </th>
        <th  pSortableColumn="receivedDate" style="text-align: center">
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.receivedDateCol' | translate }}
         <p-sortIcon field="receivedDate"></p-sortIcon>
        </th>
        <th  pSortableColumn="expireDate" style="text-align: center">
          {{ 'main.stock.stockdetail.stockdetailsearch.stockmainmanage.expireCol' | translate }}
            <p-sortIcon field="expireDate"></p-sortIcon>
        </th>
        <th style="text-align: center">
          {{ 'common.manage' | translate }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.batchCode }}</td>
         <td>{{ item.categoryName }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.price }}</td>
       <td>{{ item.receivedDate | date:'yyyy-MM-dd' }}</td>
<td>{{ item.expireDate   | date:'yyyy-MM-dd' }}</td>
       
       <td style="text-align: center">
            <i (click)="openPage('edit', item)" class="pi pi-pencil cursor-pointer mr-2 text-blue-500 hover:text-blue-700"
              [title]="'common.edit' | translate"></i>

           <i (click)="onCart(item)"class="pi pi-cart-plus cursor-pointer mr-2 text-yellow-500 hover:text-yellow-700"
           [title]="'common.cart' | translate"></i>

           <i (click)="onOpenDelete(item)" class="pi pi-trash cursor-pointer mr-2 text-red-500 hover:text-red-700"
              [title]="'common.delete' | translate"></i>
              

          
          </td>

      </tr>
    </ng-template>
  </p-table>

  <!-- 🔙 Back Button -->
  <div class="flex justify-end mt-4">
    <p-button
      [label]="'common.back' | translate"
      icon="pi pi-angle-left"
      styleClass="p-button-secondary"
      (onClick)="onback()"
    ></p-button>
  </div>
</div>

<!-- 🗑️ Delete Dialog -->
<p-dialog
  [(visible)]="visibleDelete"
  [modal]="true"
  [style]="{ width: '30vw', maxWidth: '30%', border: '1px solid #ccc' }"
  [contentStyle]="{ height: '100%', overflow: 'hidden' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="text-center">
    <div>
      <i class="pi pi-info-circle" style="font-size: 6rem; opacity: 0.5"></i>
    </div>
    <div class="mt-4">
      {{ 'common.deletedata' | translate }}
    </div>
  </div>

  <div class="text-center mt-4 space-x-4">
    <p-button
      [label]="'common.cancel' | translate"
      icon="pi pi-times"
      styleClass="p-button-secondary p-button-sm"
      size="small"
      (onClick)="onCloseDelete()"
    ></p-button>

    <p-button
      [label]="'common.confirm' | translate"
      size="small"
      (onClick)="onConfirmDelete(itemDelete.id!)"
    ></p-button>
  </div>
</p-dialog>

<p-dialog [(visible)]="visibleCart" [modal]="true "

  [style]="{ width: '30vw', maxWidth: '30%', border: '1px solid #ccc' }"
  [contentStyle]="{ height: '100%', overflow: 'hidden' }" [draggable]="false" [resizable]="false">

  <div class="text-center mb-4">
    <i class="pi pi-shopping-cart" style="font-size: 2rem; opacity: 0.5;"></i>
   
  </div>

   <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-4 ">  
      <div class="flex flex-col">
        <label for="name" class="font-semibold mb-2">
          {{ 'main.stock.stockdetail.stockdetailmanage.nameLabel' | translate }}
        </label>
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="itemCart.name"
          name="name"
          required
          [placeholder]="'main.stock.stockdetail.stockdetailmanage.namePlaceholder' | translate"
          class="w-full"
        />
           
    </div>

    <div class="flex flex-col">
        <label for="batchCode" class="font-semibold mb-2">
          {{ 'main.stock.stockdetail.stockdetailmanage.batchCodeLabel' | translate }}
        </label>
        <input
          id="batchCode"
          type="text"
          pInputText
          [(ngModel)]="itemCart.batchCode"
          name="batchCode"
          required
          [placeholder]="'main.stock.stockdetail.stockdetailmanage.namePlaceholder' | translate"
          class="w-full"
        />

        
           
    </div>


    <div class="flex flex-col">
        <label for="amount" class="font-semibold mb-2">
          {{ 'main.stock.stockdetail.stockdetailmanage.amountLabel' | translate }}
        </label>
        <input
          id="amount"
          type="text"
          pInputText
          [(ngModel)]="itemCart.amount"
          name="amount"
          required
          [placeholder]="'main.stock.stockdetail.stockdetailmanage.namePlaceholder' | translate"
          class="w-full"
        />
           
    </div>

    <div class="flex flex-col">
        <label for="withdraw" class="font-semibold mb-2">
          {{ 'main.stock.stockdetail.stockdetailmanage.withdrawLabel' | translate }}
        </label>
        <input
          id="withdraw"
          type="text"
          pInputText
          [(ngModel)]="itemCart.withdraw"
          name="withdraw"
          required
          [placeholder]="'main.stock.stockdetail.stockdetailmanage.withdrawPlaceholder' | translate"
          class="w-full"
        />

        
           
    </div>
   </div>

   





    <div>
      
    </div>


  <div class="text-center mt-6 space-x-4">
    <p-button [label]="'common.cancel' | translate " icon="pi pi-times" styleClass="p-button-secondary p-button-sm "
      size="small" (onClick)="onCloseCart()">
    </p-button>

    <p-button [label]="'common.confirm'| translate" size="small" (onClick)="onSave()">

    </p-button>
  </div>
</p-dialog>
