<div
  class="max-w-7xl mx-auto bg-white rounded-lg shadow-lg p-6 mt-10 relative z-10">
  <h2 class="text-2xl font-bold mb-4">
    {{ mode === 'create' ? ('main.stock.stockdetail.stockdetailmanage.addTitle'
    | translate) : ('main.stock.stockdetail.stockdetailmanage.editTitle' |
    translate) }}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col">
      <label for="name" class="font-semibold mb-2">{{
        'main.stock.stockmain.stockmainmanage.name' | translate
        }}</label>
      <input id="name" type="text" pInputText [(ngModel)]="criteria.name"
        name="name" required
        readonly
        [placeholder]="'main.stock.stockmain.stockmainmanage.namePlaceholder' | translate"
        class="w-full cursor-not-allowed" />
    </div>

    <div class="flex flex-col">
      <label for="code" class="font-semibold mb-2">{{
        'main.stock.stockmain.stockmainmanage.sku' | translate
        }}</label>
      <input id="code" type="text" pInputText [(ngModel)]="criteria.sku"
      
        name="sku" required
        readonly
        [placeholder]="'main.stock.stockmain.stockmainmanage.skuPlaceholder' | translate"
        class="w-full cursor-not-allowed" />
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col">
      <label for="name" class="font-semibold mb-2">{{
        'main.stock.stockdetail.stockdetailmanage.batchCodeLabel' | translate
        }}</label>
      <input id="name" type="text" pInputText [(ngModel)]="criteria.batchCode"
        name="batchCode" required
        [placeholder]="'main.stock.stockmain.stockmainmanage.batchCodePlaceholder' | translate"
        class="w-full" />


    </div>

   <div class="flex flex-col">
  <label for="code" class="font-semibold mb-2">{{
    'main.stock.stockdetail.stockdetailmanage.amountLabel' | translate
    }}</label>
  <input id="code" type="text" pInputText [(ngModel)]="criteria.amount"
    name="amount" required
    readonly
    [placeholder]="'main.stock.stockdetail.stockdetailmanage.amountPlaceholder' | translate"
    class="w-full bg-gray-100 cursor-not-allowed" />
</div>

  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col">
      <label for="name" class="font-semibold mb-2">{{
        'main.stock.stockdetail.stockdetailmanage.priceLabel' | translate
        }}</label>
      <input id="name" type="text" pInputText [(ngModel)]="criteria.price"
        name="price" required
        [placeholder]="'main.stock.stockdetail.stockdetailmanage.pricePlaceholder' | translate"
        class="w-full" />
    </div>

    <div class="flex flex-col">
      <label for="code" class="font-semibold mb-2">{{
        'main.stock.stockdetail.stockdetailmanage.receivedDateLabel' | translate
        }}</label>
      <p-datepicker
        class="w-full"
        [(ngModel)]="criteria.receivedDate"
        name="receivedDate"
        dateFormat="yy-mm-dd"
        showIcon="true"
        [placeholder]="'main.stock.stockdetail.stockdetailmanage.receivedDatePlaceholder' | translate"
        [style]="{ width: '100%' }"></p-datepicker>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col">
      <label for="category" class="font-semibold mb-2">{{
        'main.stock.stockmain.stockmainmanage.category' | translate
        }}

      </label>

      <p-select
        [showClear]="true"
        [(ngModel)]="criteria.code"
        readonly
        [options]="itemCategory"
        optionLabel="name"
        optionValue="code"
        class="w-full border rounded-lg h-[42px] cursor-not-allowed"
        placeholder="{{ 'main.stock.stockmain.stockmainmanage.selectCategory' | translate }}">
        
      </p-select>

    </div>

    <div class="flex flex-col">
      <label for="code" class="font-semibold mb-2">{{
        'main.stock.stockdetail.stockdetailmanage.expireDateLabel' | translate
        }}</label>
      <p-datepicker
      
        class="w-full"
        [(ngModel)]="criteria.expireDate"
        name="expireDate"
        dateFormat="yy-mm-dd"
        showIcon="true"
        [placeholder]="'main.stock.stockdetail.stockdetailmanage.receivedDatePlaceholder' | translate"
        [style]="{ width: '100%' }"></p-datepicker>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex justify-end gap-3 mt-10">
    <p-button
      [label]="'common.cancel' | translate"
      icon="pi pi-times"
      styleClass="p-button-secondary"
      (onClick)="onCancel()"></p-button>

    <p-button
      [label]="'common.save' | translate"
      icon="pi pi-check"
      type="submit"
      (onClick)="onSave()"></p-button>
  </div>

</div>
