



  <div class="max-w-5xl mx-auto bg-white rounded-lg shadow p-6 mt-20 ">
    <h2 class="text-2xl font-bold mb-4">Transactions</h2>

    <!-- Filters -->
    <div class="flex flex-wrap gap-2 mb-4 items-center">
      <button (click)="filterType('all')" [ngClass]="{'bg-blue-500 text-white': selectedFilter==='all'}"
        class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300 font-semibold transition">
        All
      </button>
      <button (click)="filterType('income')" [ngClass]="{'bg-blue-500 text-white': selectedFilter==='income'}"
        class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300 font-semibold transition">
        Income
      </button>
      <button (click)="filterType('expense')" [ngClass]="{'bg-blue-500 text-white': selectedFilter==='expense'}"
        class="px-4 py-2 bg-gray-200 rounded-lg hover:bg-gray-300 font-semibold transition">
        Expense
      </button>

      <select [(ngModel)]="filterCategory" (change)="filterByCategory()" class="px-4 py-2 rounded-lg border">
        <option value="">Filter by Category</option>
        <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
      </select>
    </div>

  <p-table
    [value]="transactions"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width:5%">No</th>
        <th style="width:15%">Date</th>
        <th style="width:30%">Category</th>
        <th style="width:15%">Amount</th>
        <th style="width:25%">Type</th>
        <th style="width:10%">Manage</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.amount }}</td>
        <td>{{ item.type }}</td>
        <td class="px-4 py-2 text-center">
          <button class="text-blue-500 hover:text-blue-700 mr-2" (click)="onOpenEdit(item)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="text-red-500 hover:text-red-700" (click)="deleteTransaction(item.id)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

<p-dialog
    [(visible)]="visibleEdit"
    [modal]="true"
    [style]="{ width: '30vw', maxWidth: '30%', border: '1px solid #ccc' }"
    [contentStyle]="{ height: '100%', overflow: 'hidden' }"
    [draggable]="false"
    [resizable]="false"
>

  <div class="text-center">
    <div class=""><i class="pi pi-info-circle" style="font-size: 6rem; opacity: 0.5;"></i></div>
    <div class="mt-4">Edit</div>
  </div>
    
    <div class="text-center mt-4">
        <p-button
            [label]="'ยกเลิก'"
            icon="pi pi-times"
            styleClass="p-button-secondary p-button-sm"
            size="small"
            (onClick)="onCloseEdit()"
        >
        </p-button>

        <p-button
            [label]="'ยืนยัน'"
            size="small"
            (onClick)="onConfirmEdit()"
        >
        </p-button>
    </div>
</p-dialog>