<div class="p-4">

  <h1 class="text-2xl font-bold mb-4">{{ 'main.dashboard.dashboardsearch.title' | translate }}</h1>

  <!-- Cards -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">

    <p-card>
      <div class="text-gray-500">{{ 'main.dashboard.dashboardsearch.totalProducts' | translate }}</div>
      <div class="text-2xl font-bold text-blue-500">{{ totalProducts }}</div>
    </p-card>

    <p-card>
      <div class="text-gray-500">{{ 'main.dashboard.dashboardsearch.lowStock' | translate }}</div>
      <div class="text-2xl font-bold text-orange-500">{{ lowStock }}</div>
    </p-card>

    <p-card>
      <div class="text-gray-500">{{ 'main.dashboard.dashboardsearch.totalCategories' | translate }}</div>
      <div class="text-2xl font-bold text-green-500">{{ categoryCount }}</div>
    </p-card>

  </div>

  <!-- Chart -->
  <!-- ================= CHART ================= -->
<p-card class="mb-6">

  <div class="flex justify-between items-center mb-4">

    <h2 class="text-lg font-semibold text-[#4E342E]">
      {{ 'main.dashboard.dashboardsearch.category' | translate }}
    </h2>

    <!-- ปุ่มสลับกราฟ -->
    <div class="flex gap-2">
      <button
        class="px-4 py-2 rounded-lg border transition"
        [ngClass]="chartType === 'bar'
          ? 'bg-[#4E342E] text-white'
          : 'bg-white text-[#4E342E]'"
        (click)="changeChart('bar')">
        Bar
      </button>

      <button
        class="px-4 py-2 rounded-lg border transition"
        [ngClass]="chartType === 'pie'
          ? 'bg-[#4E342E] text-white'
          : 'bg-white text-[#4E342E]'"
        (click)="changeChart('pie')">
        Pie
      </button>
    </div>

  </div>

<p-chart
  [type]="chartType"
  [data]="chartData"
  [options]="chartOptions"
  [style.height]="chartHeight"
  style="width: 100%;">
</p-chart>
</p-card>

</div>